<!DOCTYPE html>
<html>
<head>
<link rel= “stylesheet” type = “text/css” href = “style.css”>
</head>
<body>

  <div id='fixed_display'>
    <div id='logo'>
      <img src = ...> </img>
    </div>
  </div>

  <div id = 'header'>
    <div id = 'bryantImage'>
      <link a = ...></link>
    </div>
    <div id = 'name'>
    </div>
    <div id = 'description'>
      softwareEngineer.entrepreneur.techEnthusiast
    </div>
    <div id = 'tabs'>
      <div id = 'projects' class= "tabs">
        projects
        <link a = ...><link>
      </div>
      <div id = 'research' class= "tabs">
        . research
        <link a = ...><link>
      </div>
      <div id = 'experience' class= "tabs">
        . experience
        <link a = ...><link>
      </div>
      <div id = 'notes' class = "tabs">
        . notes
        <link a = ...><link>
      </div>
      <div id = 'awards' class = "tabs">
        . awards
        <link a = ...><link>
      </div>
    </div>
  </div>

  <div id = 'bio'>
    <div id = 'imagesBlock'>
      <div id = 'imagesOfMe1' class = "imagesOfMe">
        <img src = ...> <img>
      </div>
      <div id = 'imageOfMe2' class = "imagesOfMe">
        <img src = ...> <img>
      </div>
    </div>
    <div id = 'bioText'>
      <div id = 'firstLine' class = "notes">
        hi, I'm Bryant.
      </div>
      <div id = 'restLine' class = "notes">
        I am an undergraduate student at UC Berkeley. I've wanted to be a doctor
        to help people (cliche, I get that,) but discovered that I could do much
        more through computer science. I want to translate the heroism of
        surgical care to incremental through: technology, robotics, and machine
        learning.
      </div>
    </div>
  </div>

  <div id = 'projects' class = "showOffBlocks">
    <div id = 'left' class = "projectsColumns">
      <div id = 'unhoveredSnapAndSell' class = "boxes snapAndSell">
      </div>
      <div id = 'hoveredSnapAndSell' class = "boxes snapAndSell">
        <div id = 'hoveredSnapAndSellHeader' class = "hoveredSnapAndSellText">
        </div>
        <div id = 'hoveredSnapAndSellBody' class = "hoveredSnapAndSellText">
        </div>
      </div>
    </div>
    <div id = 'right' class = "projectsColumns">
      <div id = 'unhoveredGoCery' class = "boxes goCery">
      </div>
      <div id = 'hoveredGoCery' class = "boxes goCery">
        <div id = 'hoveredGoCeryHeader' class = "hoveredGoCeryText">
        </div>
        <div id = 'hoveredGoCeryBody' class = "hoveredGoCeryText">
        </div>
      </div>
    </div>
  </div>

</body>

</html>
